body {
    background-color: rgb(232, 219, 198);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

h2 {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 180%;
    color: #db7932;
    text-align: center;
}

.button-bar {
    text-align: center;
}

.button-bar ul {
    list-style: none;
    padding-left: 3px;
    text-align: left;
}

.button-bar ul li {
    display: inline-block;

}

.btn {
    background-color: #db7932;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 200px;
    transition: background-color .2s;
}

.btn:focus {outline: 0;}

.btn:hover {
    background-color: #c86823;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    paddding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

@media only screen and (min-width: 760px) {

    h2 {
        text-align: right;
    }

    .button-bar ul {
        text-align: left;
    }

}
